<nav class="flex justify-around items-center py-2">
  <button class="flex flex-col items-center text-xs text-gray-600 hover:text-purple-700"

  (click)="onAccueil()"
  >
    <fa-icon [icon]="faHouse" class="text-lg mb-1"></fa-icon>
    Accueil
  </button>
  <button class="flex flex-col items-center text-xs text-gray-600 hover:text-purple-700"

  (click)="onExplorer()">
    <fa-icon [icon]="faCompass" class="text-lg mb-1"></fa-icon>
    Explorer
  </button>
  <button class="flex flex-col items-center text-xs text-gray-600 hover:text-purple-700">
    <fa-icon [icon]="faStar" class="text-lg mb-1"></fa-icon>
    Noter
  </button>
  <button class="flex flex-col items-center text-xs text-gray-600 hover:text-purple-700">
    <fa-icon [icon]="faBolt" class="text-lg mb-1"></fa-icon>
    Défis
  </button>
  <button class="flex flex-col items-center text-xs text-gray-600 hover:text-purple-700">
    <fa-icon [icon]="faUser" class="text-lg mb-1"></fa-icon>
    Offres
  </button>
</nav>
