<div class="rounded-xl shadow-md overflow-hidden bg-white mx-auto w-full" (click)="onGetDetail(discoveryItem.id)">
  <!-- Image -->
  <div class="relative overflow-hidden">
    <img [src]="discoveryItem.profil" alt="{{ discoveryItem.title }}" class="rounded-lg w-[600px] h-[300px] object-cover hover:scale-110 transition-all duration-200" />

    <!-- Badge en haut à gauche -->
    <div class="absolute top-3 left-3 bg-purple-100 text-purple-800 text-xs font-semibold px-2 py-0.5 rounded-full">
      {{ discoveryItem.type }}
    </div>
  </div>

  <!-- Contenu -->
  <div class="p-4">
    <h3 class="text-base font-semibold text-gray-900">{{ discoveryItem.title }}</h3>
    <p class="text-sm text-gray-500 mb-2">{{ discoveryItem.location }}</p>

    <!-- Tags -->
    <div class="flex flex-wrap gap-2 mb-3">
      @for (tag of discoveryItem.tags; track 1) {
        <span
          class="bg-purple-100 text-purple-700 text-xs px-2 py-0.5 rounded-full"
        >
        {{ tag }}
      </span>
      }

    </div>

    <!-- Rating -->
    <div class="flex items-center gap-1 text-sm text-gray-700">
      <fa-icon [icon]="faStar" class="text-yellow-400"></fa-icon>
      <span>{{ discoveryItem.rating }}</span>
      <span class="text-gray-400">({{ discoveryItem.nbrAvis }})</span>
    </div>
  </div>

</div>
